@import url("reset.css");
@import url("macos9-window.css");

:root {
  /* Colors from https://www.figma.com/community/file/966779730364082883 */
  --link-red: #ff0000;
  --link: #202a87;
  --primary-black: #262626;
  --primary-white: #ffffff;
  --grays-200: #eeeeee;
  --grays-300: #dddddd;
  --grays-400: #cccccc;
  --grays-500: #bbbbbb;
  --grays-600: #999999;
  --grays-700: #808080;
  --grays-800: #666666;
  --color-azul: #333399;
  --color-lavender: #ccccff;
  --icon-color-azul: #6686b7;
  --icon-color-bondi: #308f91;
  --icon-color-copper: #cc6633;
  --icon-color-crimson: #cc3333;
  --icon-color-emerald: #339966;
  --icon-color-french-blue: #666699;
  --icon-color-gold: #999900;
  --icon-color-ivy: #336633;
  --icon-color-lavender: #6666cc;
  --icon-color-magenta: #993399;
  --icon-color-nutmeg: #996633;
  --icon-color-pistachio: #b5e040;
  --icon-color-plum: #996699;
  --icon-color-poppy: #f46f19;
  --icon-color-rose: #996666;
  --icon-color-sapphire: #3366ff;
  --icon-color-silver: #777777;
  --icon-color-sunny: #d0af3e;
  --icon-color-teal: #477979;
  --icon-color-turquoise: #0099cc;
  --icon-color-black: #000000;
}

body {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: var(--color-lavender);
  background-image: url("/assets/patterns/OS9_Default.png");
  background-repeat: repeat;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
}

body > * {
  width: 100%;
}

@media (max-width: 480px) {
  body {
    font-size: 0.8rem;
  }
}

h1 {
  font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
}

header > h1 {
  text-align: center;
  margin: 1em 0;
}

footer p {
  margin: 0.5em;
  line-height: 1.6;
  font-size: 0.75rem;
  text-align: center;
}

@media (max-width: 900px) {
  main {
    max-width: 100%;
    width: 100%;
  }
}

.themes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;
  grid-auto-rows: auto;
  gap: 20px;
  row-gap: 30px;
  padding: 30px 20px;
}

.themes-grid .single-theme {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 2px;
  text-align: center;
  text-decoration-style: dotted;
}

.themes-grid .single-theme-name {
  font-size: 1rem;
  font-weight: bold;
}
.themes-grid .single-theme-authors {
  font-size: 0.8125rem;
}
.themes-grid .single-theme-year {
  font-size: 0.625rem;
}

.themes-grid .single-theme img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
  max-height: 160px;
  aspect-ratio: 1;
  margin-bottom: 10px;
}

.nav {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;

  position: relative;
  height: 31px;
}

.nav > div:nth-child(2) {
  flex: 1;
}

.nav > div:nth-child(1),
.nav > div:nth-child(3) {
  position: absolute;
  padding-left: 4px;
  padding-right: 4px;

  display: flex;
  align-items: center;
  gap: 4px;
}

.nav > div:nth-child(1) {
  left: 0;
}

.nav > div:nth-child(3) {
  right: 0;
}

.macos9-window.header .macos9-window-body {
  text-align: center;
  padding: 20px 0;
  background-size: cover;
  background-position: center;
}

.macos9-window.header .macos9-window-body a {
  color: white;
}

.single-theme-page {
  padding: 20px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.single-theme-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (max-width: 480px) {
  .single-theme-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }

  .single-theme-grid .infos {
    grid-row: 1;
  }
}

.single-theme-grid .infos {
}

.single-theme-page .gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  overflow: hidden;
  gap: 10px;
}

.single-theme-page .gallery-thumbnail {
  display: inline-block;
  line-height: 0;
}

.single-theme-page .gallery-thumbnail:first-child {
}
.single-theme-page .gallery-thumbnail img {
  max-width: 100%;
}

.single-theme-page .infos {
  border-top: 1px solid var(--grays-400);
}

.single-theme-page .infos dl {
  line-height: 1.5;
}

.single-theme-page .infos dd {
  margin-inline-start: 20px;
}

.single-theme-page .infos dd ul {
  padding-inline-start: 0;
  line-height: 2;
  list-style: none;
}

.single-theme-page .infos dt {
  margin-block-start: 10px;
  font-weight: bold;
}

.single-theme-title {
  text-align: center;
}

.single-author-page {
  padding: 20px 0;
}

.single-page-title {
  text-align: center;
}

.macos9-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1;
  display: flex;
  justify-content: center;
  background-color: var(--grays-200);
  width: 100%;
  padding: 5px;
  padding-top: 0;
}

.macos9-menu li {
  font-size: 0;
}

.macos9-menu .spacer {
  flex: 1;
}

.macos9-menu .spacer + li .macos9-menu-icon {
  border-left: 1px solid var(--primary-white);
  box-shadow: -1px 0 0 0 var(--grays-800);
}

.macos9-menu-icon {
  display: flex;
  font-size: 0.75rem;
  flex-direction: column;
  gap: 10px;
  color: var(--primary-black);
  text-decoration: none;
  text-align: center;
  padding: 6px;
  min-width: 68px;
}

.macos9-menu-icon span {
  padding: 2px 3px;
}

.macos9-menu-icon img {
  height: 32px;
  width: 32px;
  display: block;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .macos9-menu .spacer {
    display: none;
  }

  .macos9-menu .spacer + li .macos9-menu-icon {
    border: none;
    box-shadow: none;
  }
  .macos9-menu-icon {
    font-size: 0.8rem;
    padding: 6px;
  }
  .macos9-menu-icon img {
    height: 24px;
    width: 24px;
  }
}

.macos9-menu-icon:active,
.macos9-menu-icon:focus {
  & img {
    filter: brightness(0.5);
  }
  & span {
    color: white;
    background-color: rgba(from var(--primary-black) r g b / 80%);
  }
}

.macos9-menu-icon.open {
  & img {
    filter: brightness(0.5);
  }
  & span {
    color: white;
    background-color: rgba(from var(--primary-black) r g b / 80%);
  }
}

.header-box .macos9-window-body {
  background-color: var(--grays-200);
}

.header-box .header-image-box {
  padding: 5px;
}

.header-box .header-image {
  box-shadow:
    -1px -1px 0 rgb(from var(--primary-black) r g b / 40%),
    1px 1px 0 var(--primary-white);
  border: 1px solid var(--primary-black);
  line-height: 0;
  display: block;
}

.header-box .header-image img {
  width: 100%;
  height: auto;
  aspect-ratio: 2195 / 510;
}

.header-box nav {
  background-color: var(--primary-white);
}

section.page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.boot-window {
  --scale: 1;
  max-width: calc(422px * var(--scale));
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: var(--grays-400);
  border: 1px solid var(--primary-black);
  box-shadow: 2px 2px 0 var(--primary-black);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  /* Window inner shadows/borders */
  &::before {
    content: "";
    pointer-events: none;
    inset: 0;
    position: absolute;
    z-index: 1;
    box-shadow:
      inset -1px -1px 0 var(--grays-700),
      inset 1px 1px 0 var(--primary-white);
  }
}

.boot-window > div {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 10px;
  padding-bottom: 20px;
}

.boot-window img {
  width: calc(350px * var(--scale));

  margin: 0 auto;
  margin-top: 30px;
  box-shadow:
    -1px -1px 0 rgb(from var(--primary-black) r g b / 40%),
    1px 1px 0 var(--primary-white);
  border: 1px solid var(--primary-black);
}

.boot-window .progress-bar {
  height: calc(10px * var(--scale));
  width: calc(160px * var(--scale));
  border: 1px solid var(--primary-black);
  background-color: var(--grays-500);
  position: relative;
  box-shadow:
    -1px -1px 0 var(--grays-700),
    1px 1px 0 var(--primary-white),
    inset 1px 1px 0 rgb(from var(--primary-black) r g b / 30%),
    inset -1px -1px 0 rgb(from var(--primary-white) r g b / 40%);

  &::after {
    content: "";
    position: absolute;
    width: 30%;
    display: block;
    left: 0;
    top: 0;
    bottom: 0;
    /* background-image: linear-gradient(
      to bottom,
      #33339a 0 calc(100% / 9 * 1),
      #6666cc calc(100% / 9 * 1) calc(100% / 9 * 2),
      #9999fe calc(100% / 9 * 2) calc(100% / 9 * 3),
      #ccccfe calc(100% / 9 * 3) calc(100% / 9 * 4),
      #edeeee calc(100% / 9 * 4) calc(100% / 9 * 5),
      #ccccfe calc(100% / 9 * 5) calc(100% / 9 * 6),
      #9999fe calc(100% / 9 * 6) calc(100% / 9 * 7),
      #6666cc calc(100% / 9 * 7) calc(100% / 9 * 8),
      #33339a calc(100% / 9 * 8) calc(100% / 9 * 9)
    ); */
    background-image: linear-gradient(
      to bottom,
      #33339a,
      #6666cc,
      #9999fe,
      #ccccfe,
      #edeeee,
      #ccccfe,
      #9999fe,
      #6666cc,
      #33339a
    );
    border-right: 1px solid var(--primary-black);
    box-shadow: 1px 0px 0 #888788;
  }
}

.pixel {
  image-rendering: pixelated;
}
