.macos9-window {
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background-color: var(--grays-400);
  border: 1px solid var(--primary-black);
  box-shadow: 2px 2px 0 var(--primary-black);

  /* Window inner shadows/borders */
  &::before {
    content: "";
    pointer-events: none;
    inset: 0;
    position: absolute;
    z-index: 1;
    box-shadow:
      inset 1px 1px 0 rgb(from var(--primary-black) r g b / 10%),
      inset -1px -1px 0 rgb(from var(--primary-black) r g b / 40%);
  }
}

.macos9-window.collapsed .macos9-window-body {
  display: none;
}

.macos9-window.zoomed {
  max-width: none;
}

.macos9-window-body {
  display: block;
  container-type: inline-size;

  margin: 4px;
  margin-top: 0;
  border: 1px solid var(--primary-black);
  box-shadow:
    -1px -1px 0 rgb(from var(--primary-black) r g b / 40%),
    1px 1px 0 var(--primary-white);

  background-color: var(--primary-white);
}

.macos9-window-titlebar {
  padding: 2px 4px;
  background-color: var(--grays-400);
  display: flex;
  gap: 4px;
  align-items: center;
}

.macos9-window-titlebar > span.filler {
  flex: 1;
  background-color: #dddddd;
  background-image: linear-gradient(
    transparent,
    transparent 50%,
    var(--grays-600) 50%,
    var(--grays-600)
  );
  background-repeat: repeat;
  background-size: 100% 2px;
  height: 11px;

  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background-size: 100% 2px;
    display: block;
  }

  &::before {
    background-image: linear-gradient(
      #eeeeee,
      #eeeeee 50%,
      var(--grays-600) 50%,
      var(--grays-600)
    );
  }
  &::after {
    right: 0;
    background-image: linear-gradient(
      #c5c5c5,
      #c5c5c5 50%,
      var(--grays-600) 50%,
      var(--grays-600)
    );
  }
}

.macos9-window-titlebar > span.title-text {
  background-color: var(--grays-400);
  height: 100%;
  display: inline-block;
  font-size: 12px;
}

.macos9-window-titlebar > button {
  appearance: none;
  border: none;
  height: 13px;
  width: 13px;

  background: transparent;
  background-image: linear-gradient(135deg, #9a9a9a 0%, #f1f1f1 100%);
  background-size: 9px 9px;
  background-position: center;
  box-shadow:
    inset 1px 1px 0 var(--grays-700),
    inset -1px -1px 0 var(--primary-white),
    inset 0 0 0 2px var(--primary-black),
    inset 3px 3px 0 var(--primary-white),
    inset -3px -3px 0 var(--grays-700);

  position: relative;
  z-index: 0;

  &:active::before {
    content: "";
    inset: 2px;
    background-image: linear-gradient(
      135deg,
      rgba(53, 53, 53, 0.8) 0%,
      rgba(156, 156, 156, 0.8) 100%
    );
    display: block;
    position: absolute;
    z-index: 1;
  }
}

.macos9-window-titlebar > button.zoom::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 1px;
  left: 1px;
  width: 7px;
  height: 7px;
  box-shadow: inset 0 0 0 1px var(--primary-black);
}
.macos9-window-titlebar > button.collapse::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 5px;
  left: 1px;
  right: 1px;
  height: 3px;
  box-shadow: inset 0 0 0 1px var(--primary-black);
}

.macos9-generic-block {
  background-color: var(--grays-300);
  box-shadow:
    inset 1px 1px 0 var(--primary-white),
    inset -1px -1px 0 var(--grays-700);
  border: 1px solid var(--primary-black);
}

.macos9-window-genericbar {
  background-color: var(--grays-200);
  min-height: 20px;
  box-shadow:
    inset 1px 1px 0 var(--primary-white),
    inset -1px -1px 0 var(--grays-700);
  padding: 4px 0;
  font-size: 12px;
}

.macos9-window-genericbar:first-child {
  border-bottom: 1px solid var(--primary-black);
}
.macos9-window-genericbar:last-child {
  border-top: 1px solid var(--primary-black);
}
