---
import OS9Window from "../components/OS9Window.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Feed">
  <OS9Window title="Feed">
    <section class="page">
      <h1>Feed</h1>

      <p>
        The RSS feed lists new themes as they're being added to the site. You
        can subscribe to it using your favorite RSS reader. <br /><br />
        <a href="/feed.xml">Subscribe to the RSS feed</a>
      </p>
    </section>
  </OS9Window>
</BaseLayout>
