---
import Window from "../components/Window.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main>
    <Window title="Index"> aaaaaaa </Window>
  </main>
</BaseLayout>
