---
import OS9Window from "../components/OS9Window.astro";
import "../styles/index.css";
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mac Themes Garden</title>
  </head>

  <body>
    <div class="boot-window">
      <img src="/assets/boot.png" alt="" />
      <div>
        <div>Starting Up...</div>
        <div class="progress-bar"></div>
      </div>
    </div>
  </body>
</html>
