---
import type { Page } from "astro";
import { type CollectionEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import OS9Window from "./OS9Window.astro";
import PaginationBar from "./PaginationBar.astro";

import AuthorsFormatter from "./AuthorsFormatter.astro";
import SingleTheme from "./SingleTheme.astro";

interface Props {
  page: Pick<
    Page<CollectionEntry<"themes">>,
    "url" | "lastPage" | "currentPage" | "data"
  >;
}

const { page } = Astro.props;
---

<BaseLayout title={undefined}>
  <OS9Window asElement="main" title="Index">
    <PaginationBar slot="before-content" pagination={page} />
    <div class="themes-grid">
      {
        page.data
          .map((t) => t.data)
          .map(async (theme) => {
            return <SingleTheme theme={theme} />;
          })
      }
    </div>
    <PaginationBar slot="after-content" pagination={page} />
  </OS9Window>
</BaseLayout>
