---
interface Props {
  classname?: string;
  title: string;
  noButtons?: boolean;
}

import crypto from "node:crypto";
const uid = crypto
  .createHash("sha256")
  .update(Date.now().toString())
  .digest("hex")
  .slice(0, 10);

const { classname, title, noButtons } = Astro.props;
---

<div class={`macos9-window ${classname}`} id={uid}>
  <div class="macos9-window-titlebar">
    {!noButtons && <button class="button close" data-action="close" />}
    <span class="filler"></span>
    <span class="title-text">{title}</span>
    <span class="filler"></span>
    {!noButtons && <button class="button zoom" data-action="zoom" />}
    {!noButtons && <button class="button collapse" data-action="collapse" />}
  </div>
  <div class="macos9-window-body">
    <slot />
  </div>
</div>
