---
export enum WindowButtons {
  Close,
  Zoom,
  Collapse,
}
interface Props {
  classname?: string;
  title: string;
  buttons?: WindowButtons[];
  as?: keyof astroHTML.JSX.DefinedIntrinsicElements;
}

import crypto from "node:crypto";
const uid = crypto
  .createHash("sha256")
  .update(Date.now().toString())
  .digest("hex")
  .slice(0, 10);

const { classname, title } = Astro.props;
const buttons = Astro.props.buttons ?? [
  WindowButtons.Close,
  WindowButtons.Collapse,
  WindowButtons.Zoom,
];
const Wrapper = Astro.props.as ? Astro.props.as : "div";
---

<Wrapper id={uid} class:list={["macos9-window", classname]}>
  <div class="macos9-window-titlebar">
    {
      buttons.includes(WindowButtons.Close) && (
        <button class="button close" data-action="close" />
      )
    }
    <span class="filler"></span>
    <span class="title-text">{title}</span>
    <span class="filler"></span>
    {
      buttons.includes(WindowButtons.Zoom) && (
        <button class="button zoom" data-action="zoom" />
      )
    }
    {
      buttons.includes(WindowButtons.Collapse) && (
        <button class="button collapse" data-action="collapse" />
      )
    }
  </div>
  <div class="macos9-window-body">
    <slot name="before-content" />
    <div class="macos9-window-mainbody platinum-scrollbars">
      <slot />
    </div>
    <slot name="after-content" />
  </div>
</Wrapper>
