---
import {
  generateUserUUID,
  getLikesCountForThemeId,
  getUserLikeStatusForTheme,
} from "../helpers/dbHelpers";
import { LikeButton } from "./likeButton";

interface Props {
  themeId: string;
}

const userId = generateUserUUID(Astro.clientAddress);
const likesCount = await getLikesCountForThemeId(
  Astro.props.themeId,
  Astro.session
);
const likedByUser = await getUserLikeStatusForTheme(
  userId,
  Astro.props.themeId
);
---

<dd>
  <span data-likes-count>{likesCount}</span> likes
</dd>
<dd>
  <LikeButton
    initialLike={likedByUser}
    themeId={Astro.props.themeId}
    client:load
  />
</dd>
