---
import { getLikesCountForThemeId } from "../helpers/dbHelpers";

interface Props {
  themeId: string;
}

const likesCount = await getLikesCountForThemeId(Astro.props.themeId);
---

<dd>
  <span data-likes-count>{likesCount}</span>
  {likesCount > 1 ? "likes" : "like"}
</dd>
