---
interface Props {
  themesImages?: string[];
}
import "../styles/index.css";
import OS9Window, { WindowButtons } from "../components/OS9Window.astro";
import { neededThemes } from "../components/IndexPage.astro";
const themes = Astro.props.themesImages;
const firstLine = themes?.slice(0, neededThemes / 2);
const secondLine = themes?.slice(neededThemes / 2, neededThemes);
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mac Themes Garden</title>
    <script is:inline src="/assets/index.js"></script>
  </head>

  <body>
    <header>
      <OS9Window
        title="Mac Themes Garden"
        classname="header-box"
        buttons={[WindowButtons.Close, WindowButtons.Collapse]}
      >
        <div class="header-image-box">
          <div class="header-image" class:list={{ themes: Boolean(themes) }}>
            <div>
              {
                firstLine?.map((t) => {
                  return <img src={t} />;
                })
              }
            </div>
            <div>
              {
                secondLine?.map((t) => {
                  return <img src={t} />;
                })
              }
            </div>
          </div>
        </div>

        <nav>
          <ul class="macos9-menu">
            <li>
              <a href="/" class="macos9-menu-icon">
                <img src="/assets/menu/schemes-puzzle.png" alt="" />
                <span> Schemes index </span>
              </a>
            </li>
            <li>
              <a href="/authors" class="macos9-menu-icon">
                <img src="/assets/menu/file-sharing.png" alt="" />
                <span> Authors </span>
              </a>
            </li>
            <span class="spacer"></span>
            <li>
              <a href="#" class="macos9-menu-icon">
                <img src="/assets/menu/finder-computer.png" alt="" />
                <span> About </span>
              </a>
            </li>
          </ul>
        </nav>
      </OS9Window>
    </header>
    <slot />
    <footer>
      <OS9Window title="Footer" classname="footer">
        <p>
          All the themes showcased are the property of their respective authors.
          Not affiliated with Apple Inc.
        </p>
      </OS9Window>
    </footer>
    <script define:vars={{ themes: themes }} is:inline>
      (async () => {
        const headerImage = document.querySelector(".header-image");
        if (!headerImage) {
          return;
        }

        // for (const theme of themes) {
        //   console.log(theme);
        // }

        async function getImageDimensions(imgSrc) {
          const imageData = await fetch(imgSrc).then((r) => r.blob());
          const canvas = document.createElement("canvas");
          const ctx = canvas.getContext("2d");
          const img = new Image();
          img.src = URL.createObjectURL(imageData);

          canvas.style = `position: fixed; display: block; background-color: pink;`;
          document.body.appendChild(canvas);

          img.onload = () => {
            canvas.width = img.width;
            canvas.height = img.height;
            ctx.drawImage(img, 0, 0);
            console.log(ctx.getImageData(0, 0, canvas.width, canvas.height));
          };
        }
      })();
    </script>
  </body>
</html>
