---
interface Props {}
import "../styles/index.css";
import OS9Window, { WindowButtons } from "../components/OS9Window.astro";
import { getCollection } from "astro:content";

const isDev = import.meta.env.MODE === "development";

const getStats = async () => {
  if (!isDev) {
    return "";
  }

  const themes = await getCollection("themes");
  const authors = await getCollection("authors");

  return `${themes.length} themes from ${authors.length} authors`;
};
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mac Themes Garden</title>
    <script is:inline src="/assets/index.js"></script>
  </head>

  <body>
    <OS9Window
      as="header"
      title="Welcome!"
      classname="header-box"
      buttons={[WindowButtons.Close, WindowButtons.Collapse]}
    >
      <div class="header-image-box">
        <div class="header-image">
          <img src="/assets/macthemes-garden-header.png" alt="" />
        </div>
      </div>

      <nav>
        <ul class="macos9-menu">
          <li>
            <a href="/" class="macos9-menu-icon">
              <img src="/assets/menu/schemes-puzzle.png" alt="" />
              <span> Schemes </span>
            </a>
          </li>
          <li>
            <a href="/authors" class="macos9-menu-icon">
              <img src="/assets/menu/file-sharing.png" alt="" />
              <span> Authors </span>
            </a>
          </li>
          <span class="spacer"></span>
          <li>
            <a href="#" class="macos9-menu-icon">
              <img src="/assets/menu/finder-computer.png" alt="" />
              <span> About </span>
            </a>
          </li>
        </ul>
      </nav>
    </OS9Window>
    <slot />
    <OS9Window as="footer" title="Footer" classname="footer">
      <p>
        All the themes showcased are the property of their respective authors.
        Not affiliated with Apple Inc.
      </p>
      {isDev && <p>{getStats()}</p>}
    </OS9Window>
  </body>
</html>
