---
import OS9Window from "../components/OS9Window.astro";
const year = new Date().getUTCFullYear();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mac Themes Garden</title>
    <link rel="stylesheet" href="/assets/index.css" />
    <script is:inline src="/assets/index.js"></script>
  </head>

  <body>
    <header>
      <OS9Window title="Header" classname="header">
        <h1>
          <a href="/"> Mac Themes Garden </a>
        </h1>
      </OS9Window>
    </header>
    <slot />
    <footer>
      <OS9Window title="Footer" classname="footer">
        <p>
          All the themes showcased are the property of their respective authors,
          website not affiliated with Apple Inc. <br />
          {{ year }} –
          <a href="https://damien.zone">Damien Erambert</a>
        </p>
      </OS9Window>
    </footer>
  </body>
</html>
